* {
    margin: auto;
    padding: auto;
    text-align: center;
}

.card-img {
    width: 400px;
    height: 250px;
    overflow: hidden;
}

.small-img {
    max-height: 250px;
    max-width: 400px;
    height: 100%;
    cursor: pointer;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.image {
    margin: auto;
    position: relative;
    max-width: 1200px;
    text-align: center;
}


#album {
    max-width: auto;
    margin: auto;
    margin-top: 10px;
}

